<div class="wrapper wrapper-full-page">
    <div class="page-header pricing-page header-filter" style="background-image: url('./assets/img/bg-pricing.jpg'); background-size: cover; background-position: top center;">
        <div class="container">
            <div class="row ">
                <div class="col-lg-3 col-md-6">
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card card-pricing " >
                        <h2 class="card-category">Xe Máy</h2>
                        <div class="card-body">
                            <div class="card-icon icon-rose ">
                                <i class="material-icons">motorcycle</i>
                            </div>
                            <p class="card-description">Cửa Hàng Phụ Tùng Xe Máy Và Ôtô Hoa Vũ</p>
                        </div>
                        <div class="card-footer justify-content-center ">
                            <a href="xemay/khohang" class="btn btn-round btn-rose btn-lg">Tiến Vào</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card card-pricing ">
                        <h2 class="card-category">Đồ Nhật</h2>
                        <div class="card-body">
                            <div class="card-icon icon-rose ">
                                <i class="material-icons">store</i>
                            </div>
                            <p class="card-description">Cửa Hàng Đồ Nhật Xách Tay THƯỜNG NGAN</p>
                        </div>
                        <div class="card-footer justify-content-center ">
                            <a href="nhat/dashboard" class="btn btn-round btn-rose" hidden>Tiến Vào</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer ">
            <div class="container">
                <div class="copyright pull-right">
                    &copy;
                    {{test | date: 'yyyy'}}, made with <i class="material-icons">favorite</i> by
                    <a href="https://www.facebook.com/SomebodyThatUsed2know" target="_blank">Bão Bão.</a>
                </div>
            </div>
        </footer>
    </div>
</div>
